@use 'invoice';
@use 'sass:color';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

body {
  margin: 8px;
  padding: 0;
  overflow: hidden;
}

#app {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 11fr;
  height: calc(100vh - 16px);
  width: calc(100vw - 16px);
  max-height: calc(100vh - 16px);
  max-width: calc(100vw - 16px);
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
  overflow: hidden;
}

#app > #user-menu {
  grid-column-end: span 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#app > #app-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#app > main {
  flex: 1 0 auto;
  height: 100%;
  max-height: 100%;
}

.container {
  height: 100%;
  overflow-y: auto;
  position: relative;
}


.invoice-summary {
  width: 100%;
  grid-column-end: span 4;
}

.page {
  display: grid;
  grid-template-columns: 9fr 2fr 2fr 3fr;
  width: 100%;
  max-width: 8.5in;
  margin-left: auto;
  margin-right: auto;
}

.full-view {
  height: 100vh;
  width: 100vh;
}

.vertical-scroll {
  overflow-y: auto;
}

.center-content {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.overlay__container {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: color.adjust($body-bg, $alpha: -0.4);
  top: 0;
  left: 0;
}

.error-box {
  background-color: $pink;
  color: $red;
}

.elevated-box {
  border-radius: $rounded-md;
  box-shadow: $shadow;
  border-top: 1px solid $border-gray;
  border-left: 1px solid $border-gray;
  background-color: $body-bg;
}

.tax-year-start {
  position: relative;
}

.tax-year-start::before {
  content: "";
  position: absolute;
  height: 5px;
  background-color: $border-gray;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
}

.hidden {
  display: none
}

@media print {
  #app > #app-menu, #app > #user-menu {
    display: none;
  }

  #app > main {
    grid-row-end: span 2;
    grid-column-end: span 2;
  }

  #app, body {
    max-height: unset;
  }

  body {
    overflow-y: auto;
  }
}