* {
  font-family: Roboto Slab,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#header {
  background-color: rgb(255, 266, 0);
  width: 100%;
  height: 0.6rem;
  grid-column: 1 / span 4;
}

#page {
  display: grid;
  grid-template-columns: 9fr 2fr 2fr 3fr;
  max-width: 8.5in;
}

#biller {
  margin-top: 22px;
  grid-column: 2 / span 3;
  justify-self: end;
}

#billto {
  grid-column: 1;
  display: flow;
  flex-direction: column;
}

#billto h2 {
  margin-bottom: 0;
}

#billto h5 {
  margin-top: 0;
}

#dates {
  justify-self: end;
  align-self: center;
  grid-column: 2 / span 3
}

.itemshead {
  color: rgb(3, 56, 101);
  font-weight: bold;
  border-bottom: 2px solid rgb(3,56, 101);
}

.item {
  padding-top: 0.25in;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#total {
  justify-self: end
}

.time, .amount {
  text-align: right;
}

.rate {
  text-align: right;
}

#total_time {
  justify-self: end;
}

#total_amount {
  justify-self: end;
  grid-column-start: 4;
  background-color: rgba(255, 266, 0, 0.75);
}

#footer {
  background-color: rgb(3, 56, 101);
  width: 100%;
  height: 0.6rem;
  grid-column: 1 / span 4;
}

@media print {
  #footer {
    position: absolute;
    bottom: 0;
  }
}
