@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  font-family: Roboto Slab, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#header {
  background-color: yellow;
  width: 100%;
  height: 0.6rem;
  grid-column: 1/span 4;
}

#page {
  display: grid;
  grid-template-columns: 9fr 2fr 2fr 3fr;
  max-width: 8.5in;
}

#biller {
  margin-top: 22px;
  grid-column: 2/span 3;
  justify-self: end;
}

#billto {
  grid-column: 1;
  display: flow;
  flex-direction: column;
}

#billto h2 {
  margin-bottom: 0;
}

#billto h5 {
  margin-top: 0;
}

#dates {
  justify-self: end;
  align-self: center;
  grid-column: 2/span 3;
}

.itemshead {
  color: #033865;
  font-weight: bold;
  border-bottom: 2px solid #033865;
}

.item {
  padding-top: 0.25in;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#total {
  justify-self: end;
}

.time,
.amount {
  text-align: right;
}

.rate {
  text-align: right;
}

#total_time {
  justify-self: end;
}

#total_amount {
  justify-self: end;
  grid-column-start: 4;
  background-color: rgba(255, 255, 0, 0.75);
}

#footer {
  background-color: #033865;
  width: 100%;
  height: 0.6rem;
  grid-column: 1/span 4;
}

@media print {
  #footer {
    position: absolute;
    bottom: 0;
  }
}

body {
  margin: 8px;
  padding: 0;
  overflow: hidden;
}

#app {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 11fr;
  height: calc(100vh - 16px);
  width: calc(100vw - 16px);
  max-height: calc(100vh - 16px);
  max-width: calc(100vw - 16px);
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
  overflow: hidden;
}

#app > #user-menu {
  grid-column-end: span 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#app > #app-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#app > main {
  flex: 1 0 auto;
  height: 100%;
  max-height: 100%;
}

.container {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.invoice-summary {
  width: 100%;
  grid-column-end: span 4;
}

.page {
  display: grid;
  grid-template-columns: 9fr 2fr 2fr 3fr;
  width: 100%;
  max-width: 8.5in;
  margin-left: auto;
  margin-right: auto;
}

.full-view {
  height: 100vh;
  width: 100vh;
}

.vertical-scroll {
  overflow-y: auto;
}

.center-content {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.overlay__container {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(248, 250, 252, 0.6);
  top: 0;
  left: 0;
}

.error-box {
  background-color: #f66d9b;
  color: #e3342f;
}

.elevated-box {
  border-radius: 5px;
  box-shadow: 2px 2px 4px #eee;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: #f8fafc;
}

.tax-year-start {
  position: relative;
}

.tax-year-start::before {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #ccc;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

@media print {
  #app > #app-menu,
  #app > #user-menu {
    display: none;
  }

  #app > main {
    grid-row-end: span 2;
    grid-column-end: span 2;
  }

  #app,
  body {
    max-height: unset;
  }

  body {
    overflow-y: auto;
  }
}


/*# sourceMappingURL=app.css.map*/